<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style_menu.css">
    <title>Document</title>
</head>

<body>
    <div class="container">
        <img id="cart" src="image/cart.png">
        <div class="title-wrapper">
            <img id="back" src="image/menuback.png">
            <img id="heart" src="image/heart.png">

            <div class="logo"><img src="image/juicy.png"></div>
            
            <div class="title">쥬씨 복현점</div>
        </div>
        <div class="info-wrapper">
            <div class="info00">
                <div class="info1">
                    <div class="info">최소주문금액</div>
                    <div class="infoo">배달비</div>    
                </div>
                
                <div class="info2">
                    <div class="info">10,000원</div>  
                    <div class="infoo">1,000원 ~ 4,000원</div>
                </div>
                <img id="call" src="image/calll.png">
            </div>  
        </div>
        <div class="menu-wrapper">
            <div class="m-container">
                <nav>
                    <div>
                        <a href="#a" class="on"><span>메뉴</span></a>
                        <a href="#a"><span>정보</span></a>
                        <span></span>
                    </div>
                </nav>    
            </div>    
            <div class="label">
                <div class="item">-생과일 쥬스</div>
            </div>
            
                <div class="menu">
                    <div class="menu1">
                        <div class="big">딸기</div>
                        <div class="small">냉동 딸기+바나나</div>
                        <div class="price">5,000원</div>
                    </div>
                    <img class="product" src="image/product1.png">                
                </div>
               
             
            
                <div class="menu">
                    <div class="menu1">
                        <div class="big">초바</div>
                        <div class="small">초콜렛+바나나</div>
                        <div class="price">5,500원</div>
                    </div>    
                    <img class="product" src="image/초바.png">
                </div>
                
            
                
                <div class="menu">
                    <div class="menu1">
                        <div class="big">블루베리</div>
                        <div class="small">냉동 블루베리+시럽</div>
                        <div class="price">5,000원</div>
                    </div>
                    <img class="product" src="image/블루베리.png">
                </div>
                
              
                <div class="menu">
                    <div class="menu1">
                        <div class="big">홍시</div>
                        <div class="small">냉동과일</div>
                        <div class="price">4,500원</div>
                    </div>    
                    <img class="product" src="image/홍시.png">
                </div>
                
            
            <div class="label">
                <div class="item">-커피</div>
            </div>
            <div class="menu">
                <div class="menu1">
                    <div class="big">아메리카노</div>
                    <div class="small">원두커피</div>
                    <div class="price">3,000원</div>
                </div>    
                <img class="product" src="image/product1.png">
            </div>
        </div>
    </div>
    
    <!-- <a href="{% url 'store_menu' %}">메뉴 관리</a>
    <a href="{% url 'store_order' %}">주문 관리</a> -->
</body>
</html>